@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset para remover o --tw-ring-color no foco */
input:focus,
textarea:focus,
select:focus {
    --tw-ring-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}
